<%# if @wishes == nil %>
  <%# redirect_to root_path %>
<%# else %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="swiper" data-controller="swiper" >
          <div class="swiper-wrapper">
            <% @wishes.each do |wish|%>
              <div class="swiper-slide" data-swiper-target="wish" data-home-url="<%= root_url %>" data-swiper-id=<%= wish.id %> data-wish-id="<%= wish.id %>" data-wishes-count=<%= @wishes.count %>>
                <div class="wish-card-category" data-wish-id="<%= wish.id %>">
                    <div class="wish-info">
                      <%= cl_image_tag wish.user.photo.key, class: 'card-cover' %>
                      <div class="wish-card-details">
                      <h2><%= wish.user.username %>, <%= wish.user.age %> years old</h2>
                      <p><i class="fas fa-stopwatch fax2"></i>  <%= wish.sport.name %></p>
                      <p><i class="fas fa-street-view"></i>  <%= Geocoder::Calculations.distance_between([@user_wish.latitude, @user_wish.longitude], [wish.latitude,wish.longitude]).truncate(1) %>km</p>
                      </div>
                    </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<%# end %>
