<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="swiper" data-controller="swiper">
        <div class="swiper-wrapper">
          <% @wishes.each do |wish|%>
            <div class="swiper-slide" data-swiper-target="wish" data-swiper-id=<%= wish.id %>>
              <div class="wish-card-category" data-id="<%= wish.id %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(wish.user.photo.key) %>)">
                  <div class="wish-info d-flex justify-content-between">
                    <div class="wish-card-details">
                    <h3><%= wish.user.username %>, <%= wish.user.age %> ans</h3>
                    <h4><%= wish.sport.name %></h4>
                    </div>
                  </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
