<%= is_author %>
<div class="message-info <%= is_author ? 'message-currentuser' : 'message-otheruser' %>" id="message-<%= message.id %>">
  <i class="author">
    <span><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></span>
    <span><%= message.user.username %></span>
  </i>
  <div class="message-content">
    <p><%= message.content %></p>
  </div>
</div>
