<div class="container">
<div class="chat-wrap">
  <h1><%= @chatroom.name %></h1>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render 'messages/messages', message: message %>
    <% end %>
  </div>

  <%= simple_form_for [ @chatroom, @new_message ], remote: true do |f| %>
    <div class="input-holder">
      <%= f.input :content, label: false, placeholder: "Type message", class: "chat-input-form" %>
      <%= button_tag(class: "btn btn-primary") do %>
      <i class="fas fa-paper-plane"></i>
      <% end %>
    </div>
  <% end %>
</div>
</div>
