<div class="d-flex justify-content-between flex-md-row align-items-center pb-3 mb-4 border-bottom">
  <div>
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <title>Match Point</title>
          <strong>Match Point</strong>
    </a>
  </div>

  <div>
    <% if user_signed_in? %>
            <nav class="">
              <%= link_to "Home", root_path, class: "text-dark mr-3 mt-3"%>
              <%= link_to "My matches", "#", class: "texte-dark mr-3 mt-3"%>
              <%= link_to "Settings", "#", class: "texte-dark mr-3 mt-3"%>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-secondary mr-2 mt-2" %>

            </nav>
          <% else %>

          <nav class="">
            <%= link_to "Sign in", new_user_session_path, class: "btn btn-secondary mr-2" %>
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-primary" %>
          </nav>


          <% end %>
  </div>


    </div>
