<!-- <div class="align-items-center justify-content-center">
  <div class="card m-2 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h4 class="my-0 fw-normal">Join Match Point app for Women</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">Get starting for free<small class="text-muted fw-light"></small></h1>
      <p>Release your potential and find a sports partner.</p>

      <%= simple_form_for Wish.new, url: wishes_path, method: :post do |f| %>
      <%= f.input :sport, collection: Sport.all.pluck(:name) %>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
-->
<div class='mt-4 p-2 mb-4 text-center'>
  <h3>Get motivated with us!</h3>
</div>
<div class="container px-5">
  <div class=" mt-2 mb-1 text-center">
    <%= simple_form_for Wish.new, url: wishes_path, method: :post, remote: true do |f| %>
      <%= f.input :sport,
                  collection: Sport.all.pluck(:name),
                  prompt: "Select a sport",
                  error: 'Please select a sport to begin your journey',
                  required: false,
                  label: 'Find a sport buddy today',
                  autofocus: true %>
      <%= f.submit class: "btn btn-danger active w-100 btn-wish", value: 'Find your buddy' %>
    <% end %>
</div>
</div>
