<%# current_user.current_matched_other_wish do |wish| %>
<div class="card-current-match">
  <%= cl_image_tag current_user.current_matched_wish.user.photo.key, class: 'img-index' %>
<!--<img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"> !-->
  <div class="card-current-match-infos">
    <div>
      <%= render "recent_match" %>
     </div>
  </div>
</div>

<ul>
<% current_user.matched_wishes.each do |like| %>
<div class="card-other-matches">
  <%= cl_image_tag like.user.photo.key, class: 'img-index' %>
  <div class="card-other-matches-infos">
  <li><%= like.sport.name %></li>
  <li><%= like.user.username %></li>
  <li><%= like.user.age %></li>

  </div>
</div>
<% end %>
</ul>
