<%# current_user.current_matched_other_wish do |wish| %>
<%# <div class="card-current-match">
  <% if current_user.current_matched_wish %>
    <%# <%= cl_image_tag current_user.current_matched_wish.user.photo.key, class: 'img-index' %>
    <!--<img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"> !-->
    <%# <div class="card-current-match-infos">
      <div>
        <%= render "recent_match" %>
      <%# </div>
    </div>
  <% else %>
    <%# <h2><%= No Match found %>
  <%# <% end %>
<%# </div> %>

<ul>
  <% current_user.matched_wishes.each do |wish| %>
    <%= link_to match_path(wish.match) do %>
      <div class="card-other-matches">
        <%= cl_image_tag wish.user.photo.key, class: 'img-index' %>
        <div class="card-other-matches-infos">
          <li><%= wish.sport.name %></li>
          <li><%= wish.user.username %></li>
          <li><%= wish.user.age %></li>
        </div>
      </div>
    <% end %>
  <% end %>
</ul>
