<div class="matches-show navbar-padding">
  <div class="card-current-match">
    <%# Wish.where.not(user: self).where(match_id: @match.id).user.photo.key %>
    <% @match.wishes.each do |wish| %>
      <% if wish.user != current_user %>
        <%= cl_image_tag wish.user.photo.key, class: 'img-index' %>
       <!-- <ul>
        <li><%= wish.user.username %></li>
        <li><%= wish.user.age %></li>
        <li><%= wish.sport.name %></li>
        </ul>-->
        <div class="match-card-details">
          <h2><%= wish.user.username %>, <%= wish.user.age %> years old</h2>
          <p><i class="fas fa-stopwatch fax2"></i> <%= wish.sport.name %></p>
        </div>
      <% end %>
    <% end %>
    <div class="card-current-match-infos">
      <div>
        <%= render "recent_match" %>
      </div>
    </div>
    <div class="container">
      <%= link_to chatroom_path(@match.chatroom) do %>
        <i id="chat-link" class="far fa-comments fa-3x"></i>
      <% end %>
    </div>
  </div>

<%# if policy(Match).destroy? %>
  <%#= link_to "Delete", matches_path, class: "delete-button", :confirm => 'Are you sure?', :method => :destroy %>
<%# end %>

  <div id="map"
     style="width: 100%; height: 300px;"
     data-markers="<%= @marker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
